<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
    content="En CUFA encontras todo lo que te gusta! tortas y alfajores y exquisitos desayunos y meriendas. Hacemos envios a todo CABA!">
  <meta name="keywords"
    content="alfajores, budines, tortas, tortas a domicilio, pasteleria, pasteleria a domicilio, contacto">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,400;1,100&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f26e769037.js" crossorigin="anonymous"></script>
    <title>CUFA Contacto</title>
</head>

<body>
    <header>
        <div class="header">
            <h1 class="tituloCufa">CUFA</h1>
            <div class="tituloPasteleria">Pasteleria</div>
            <img class="logo" src="../multimedia/Imagenes/LogoCufaChico.jpg" alt="">
        </div>
        <!-- menu de nav -->
        
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="empresa.html">Empresa</a></li>
                <li><a href="productos.html">Productos</a>
                    <!--  menu desplegable -->
                    <ul>
                        <li><a href="#">Tortas</a></li>
                        <li><a href="#">Alfajores</a></li>
                        <li><a href="#">Budines</a></li>
                    </ul>
                    <!--  menu desplegable -->
                </li>
                <li><a href="servicios.html">Servicios</a>
                    <ul>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Mesa Dulce</a></li>
                        <li><a href="#">Tortas Personalizadas</a></li>
                    </ul>
                <li><a href="regalos.html">Regalos</a></li>
                <!-- ***galeria desactivada
    <li><a href="galeria.html">Galeria</a></li>-->
                <li><a href="contacto.html">Contacto</a></li>
            </ul>

        </nav>
        <!-- fin nav -->
    </header>
    <section>
        <fieldset>

        <h2>Contacto</h2>
        <!--formulario de contacto-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form class="form-horizontal" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="fname" name="name" type="text" placeholder="Nombre"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-user bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="lname" name="name" type="text" placeholder="Apellido"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-envelope-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="email" name="email" type="text" placeholder="email"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-phone-square bigicon"></i></span>
                                    <div class="col-md-8">
                                        <input id="phone" name="phone" type="text" placeholder="Telefono"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span class="col-md-1 col-md-offset-2 text-center"><i
                                            class="fa fa-pencil-square-o bigicon"></i></span>
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="message" name="message"
                                            placeholder="Escribi tu mensaje" rows="7"></textarea>
                                        <br>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-danger  btn-sm">Enviar</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    </section>
    <footer class="fotter">
        <div class="direccion">
            Dirección: Av La Plata 123 <br>
            Tel: 4006-1600 <br>

            2021 Cufa Pasteleria - Todos los derechos reservados <br>
            Prohibida la duplicación, distribución o almacenamiento en cualquier medio.
        </div>
        <div class="redes">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <div class="icon"><i class="fab fa-facebook-square face"></i></div>
            <div class="icon"><i class="fab fa-whatsapp"></i></div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous">
    </script>
</body>

</html>