<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description"
      content="En CUFA encontras todo lo que te gusta! tortas y alfajores y exquisitos desayunos y meriendas. Hacemos envios a todo CABA!">
   <meta name="keywords"
      content="pasteleria, budines, tortas, alfajores, pasteleria a domicilio, tortas a domicilio, cufa">
   <link rel="stylesheet" href="../css/estilo.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;500&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,400;1,100&display=swap"
      rel="stylesheet">
   <script src="https://kit.fontawesome.com/f26e769037.js" crossorigin="anonymous"></script>
   <title>CUFA Empresa</title>
</head>
<body>
<!--encabezado-->
   <header>
      <div class="header">
         <h1 class="tituloCufa">CUFA</h1>
         <div class="tituloPasteleria">Pasteleria</div>
         <img class="logo" src="../multimedia/Imagenes/LogoCufaChico.jpg" alt="">
      </div>
      <!-- menu de nav -->
      <nav>
         <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="empresa.html">Empresa</a></li>
            <li><a href="productos.html">Productos</a>
               <!--  menu desplegable -->
               <ul>
                  <li><a href="#">Tortas</a></li>
                  <li><a href="#">Alfajores</a></li>
                  <li><a href="#">Budines</a></li>
               </ul>
               <!--  menu desplegable -->
            </li>
            <li><a href="servicios.html">Servicios</a>
               <ul>
                  <li><a href="#">Eventos</a></li>
                  <li><a href="#">Mesa Dulce</a></li>
                  <li><a href="#">Tortas Personalizadas</a></li>
               </ul>
            <li><a href="regalos.html">Regalos</a></li>
            <li><a href="galeria.html">Galeria</a></li>
            <li><a href="contacto.html">Contacto</a></li>
         </ul>

      </nav>
      <!-- fin nav -->
   </header>
   <main>
      <h2>Quienes somos?</h2>
      <div class="mainEmpresa">
         <img class="imagenEmpresa" src="../multimedia/Imagenes/amasando.jpg" alt="produccion">
         <p class="parrafoEmpresa">
            “CUFA” nace a finales del 2011 como una pequeña repostería y desde nuestros inicios cambiamos
            la manera de vender y disfrutar los postres. <br>
            Hablar de “CUFA” no es solo hablar de postres, es hablar de postres llenos de felicidad.
            Desde el principio, nuestra panadería fue reconocida por nuestro sabroso menú y por nuestros ingredientes
            frescos. Esto permitió hacernos un espacio preferencial en la mesa de nuestros clientes. <br>
            Nuestro compromiso con los clientes de ofrecerles siempre nuevos y mejores productos. Poco a poco fuimos
            ampliando nuestra variedad de productos.
            La ultima incorporacion es nuestra linea de pasteles 100 % personalizados en donde buscamos que nuestros
            clientes tengan para su evento la torta que soñaron. <br>
            El respeto, la perseverancia, trabajo en equipo y buen servicio al cliente son los pilares centrales de
            nuestra empresa.
         </p>
      </div>
   </main>
   <!--pie de pagina-->
   <footer class="fotter">
      <div class="direccion">
         Dirección: Av La Plata 123 <br>
         Tel: 4006-1600 <br>

         2021 Cufa Pasteleria - Todos los derechos reservados <br>
         Prohibida la duplicación, distribución o almacenamiento en cualquier medio.
      </div>
      <div class="redes">
         <div class="icon"><i class="fab fa-instagram"></i></div>
         <div class="icon"><i class="fab fa-facebook-square face"></i></div>
         <div class="icon"><i class="fab fa-whatsapp"></i></div>
      </div>
   </footer>
</body>
</html>