<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Estilos.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,400;1,100&display=swap" rel="stylesheet">
        <title>CUFA Pasteleria</title>
    </head>
<body>
    <header>
        <div class="header">
        <h1 class="tituloCufa">CUFA</h1>
        <h2 class="tituloPasteleria">Pasteleria</h2>
        <img class="logo" src="Imagenes/LogoCufaChico.jpg" alt="">
    </div>
        <!-- menu de nav -->
<nav>
    <ul>
     <li><a href="index.html">Inicio</a></li>
     <li><a href="empresa.html">Empresa</a></li>
     <li><a href="productos.html">Productos</a>
    <!--  menu desplegable -->
     <ul>
     <li><a href="#">Tortas</a></li>
     <li><a href="#">Alfajores</a></li>
     <li><a href="#">Budines</a></li>
     </ul>
    <!--  menu desplegable -->
     </li>
     <li><a href="servicios.html">Servicios</a>
        <ul>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Mesa Dulce</a></li>
            <li><a href="#">Tortas Personalizadas</a></li>
            </ul>
     <li><a href="regalos.html">Regalos</a></li>
     <li><a href="Galeria.html">Galeria</a></li>
     <li><a href="contacto.html">Contacto</a></li>
    </ul>
    
    </nav>
    <!-- fin nav -->
    </header>
<section class="secgaleria">
    
    
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-1028704.jpg" alt="cufa"> </div>
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-1098592.jpg"alt="cufa"> </div>
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-1179002.jpg" alt="cufa"> </div>
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-1407346.jpg" alt="cufa"> </div>
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-1448721.jpg" alt="cufa"> </div>
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-2144200.jpg" alt="cufa"> </div>
    <div><img class="fotoGaleria" src="ImagenesH/pexels-photo-2377173.jpg"alt="cufa"> </div>
    <div><img class="fotoGaleria" src="imagenesH/pexels-photo-302462.jpg" alt="cufa"> </div>
    <div><img class="fotoGaleria" src="imagenesH/pexels-photo-326618.jpg" alt="cufa"> </div>
    

    
</section>
<footer>
    <div>Dirección: Av La Plata 123
    Tel: 4006-1600</div>
    <!--Aca irian tambien las redes sociales-->
     <br>
    <div> 2021 Cufa Pasteleria - Todos los derechos reservados <br>
    Prohibida la duplicación, distribución o almacenamiento en cualquier medio.</div>
</footer>
</body>
</html>