<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
    content="En CUFA encontras todo lo que te gusta! tortas y alfajores y exquisitos desayunos y meriendas. Hacemos envios a todo CABA!">
  <meta name="keywords"
    content="alfajores, budines, tortas, tortas a domicilio, pasteleria, pasteleria a domicilio">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,400;1,100&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f26e769037.js" crossorigin="anonymous"></script>
    <title>CUFA Productos</title>
</head>

<body>
    <header>
        <div class="header">
            <h1 class="tituloCufa">CUFA</h1>
            <div class="tituloPasteleria">Pasteleria</div>
            <img class="logo" src="../multimedia/Imagenes/LogoCufaChico.jpg" alt="cufa">
        </div>
        <!-- menu de nav -->
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="empresa.html">Empresa</a></li>
                <li><a href="productos.html">Productos</a>
                    <!--  menu desplegable -->
                    <ul>
                        <li><a href="#">Tortas</a></li>
                        <li><a href="#">Alfajores</a></li>
                        <li><a href="#">Budines</a></li>
                    </ul>
                    <!--  menu desplegable -->
                </li>
                <li><a href="servicios.html">Servicios</a>
                    <ul>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Mesa Dulce</a></li>
                        <li><a href="#">Tortas Personalizadas</a></li>
                    </ul>
                <li><a href="regalos.html">Regalos</a></li>
                <!-- ***galeria desactivada
    <li><a href="galeria.html">Galeria</a></li>-->
                <li><a href="contacto.html">Contacto</a></li>
            </ul>

        </nav>
        <!-- fin nav -->
    </header>
    <main>
        <h2>Conoce nuestros productos</h2>
        <!--Aca iria una foto de cada producto con un enlace a una pagina con el detalle-->
        <ul class="grilla menutortas">
            <li>Tortas
                <img class="imagenRedonda" src="/multimedia/Imagenes/ProductosTorta.jpg" alt="torta cufa"> <br>
            </li>
            <!--minicake desativado
            <li>Mini Cakes
                <img class="imagenRedonda" src="/multimedia/imagenes/Productos Mini.jpg" alt="minicake torta"> <br>
            </li>-->
            <li>Alfajores
                <img class="imagenRedonda" src="/multimedia/ImagenesH/Productos Alfajor.jpg" alt="alfajor cufa"> <br>
            </li>
            <li>Budines
                <img class="imagenRedonda" src="/multimedia/ImagenesH/Productos Budin.jpg" alt="budin cufa">
        </ul>
    </main>
    <hr>
    <footer class="fotter">
        <div class="direccion">
            Dirección: Av La Plata 123 <br>
            Tel: 4006-1600 <br>

            2021 Cufa Pasteleria - Todos los derechos reservados <br>
            Prohibida la duplicación, distribución o almacenamiento en cualquier medio.
        </div>
        <div class="redes">
            <div class="icon"><i class="fab fa-instagram"></i></div>
            <div class="icon"><i class="fab fa-facebook-square face"></i></div>
            <div class="icon"><i class="fab fa-whatsapp"></i></div>
        </div>
    </footer>
</body>

</html>